body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.body-about{
    background-image:url('images/cats.png');
    background-size: cover ;
}

@font-face {
  font-family: Harting_plain;
  src: url(Harting_plain.ttf);
}
@font-face {
  font-family: Antic;
  src: url(AnticDidone-Regular.otf);
}

.main-title{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    position:relative;
}
.main-title-frame,.main-title-frame-alt{
    text-align: center;
    font-family: Harting_plain;
    font-size: 26pt;
    padding:20px;
    width: 644px;
    border: solid white 3pt;
    background-color: black;
    -webkit-box-shadow: 0px 5px 19px -1px #000000;
    box-shadow: 0px 5px 19px -1px #000000;
    z-index: 1000;
}
.main-title-frame-alt{
    border: solid black 3pt;
}
.spear{
    position: absolute;
    width: 975px;
    height: 5px;
    background: url('images/spear.png');
    left: 50%;
    transform: translateX(-50%);
}

.main-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 17pt;
    margin-top:20px;
}
.menu-item{
    margin: 0 10px;
}

.bigBackText{
    white-space: nowrap;
    font-size:168pt;
    font-family:Harting_plain;
    margin-top:670px;
    color: #121212;
}
.middleBackText{
    white-space: nowrap;
    font-size:92pt;
    font-family:Harting_plain;
    color: #1e1e1e;
    margin-top:-100px;
    /* text-shadow: 0px -24px 20px #0F0604; */
}
.smallBackText{
    white-space: nowrap;
    font-size:52pt;
    font-family:Harting_plain;
    color:#2a2a2a;
    margin-top:-50px;
    width:auto;
    /* text-shadow: 0px -24px 20px #0F0604; */
}

.main-image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-frame,.main-frame-about{
    width:690px;
    height:700px;
    /* border: white dashed 2px; */
    position: relative;
    /* overflow: hidden; */
    perspective: 1000px;
}
.main-frame-about{
    width:630px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    font-size: 16pt;
    padding:30px;
    font-family: Antic;
    text-align: justify;
}
.image{
    background-position: center center;
    background-size:120% 120%;
    position: absolute;
    background-color: black;
    color: white;
    /* font-family:"Times"; */
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity:0;
    display:flex;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
.image-blur{
    position:absolute;
    z-index:0;
    width:100%;
    height:100%;
    filter:blur(20px);
    background-size:cover;
    opacity: 0.5;
}
.image-text{
    font-weight:lighter;
    font-size: 14pt;
    font-family: Antic;
    opacity:0;
    /* padding:30px; */
    text-align: left;
    position: absolute;
    width:100%;
    height:auto;
    bottom: 100px;
    left:0;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.image-text-text{
    background-color:rgba(0,0,0,0.8);
    padding:40px;
    -webkit-box-shadow: 0px 19px 30px -14px #000000;
    box-shadow: 0px 19px 30px -14px #000000;
}
.read-tests,.view-cover{
    position: absolute;
    bottom: 1px;
    right:-11px;
    cursor: pointer;
    width:170px;
    height:170px;
    background:url('read-tests.png');
    background-size: contain;
    transition: transform .2s;
    display: none;
}
.view-cover{
    background:url('view-cover.png');
}
.read-tests:hover,.view-cover:hover{
    /* transform: scale(1.1);
    transition: transform .2s; */
}
.cartridge{
    width:100%;
    height:86px;
    position: absolute;
    bottom: 0px;
}

.inner-cartridge,.inner-cartridge-alt{
    margin-left: 50%;
    transform: translateX(-50%);
    background: black;
    position:absolute;
    bottom:0px;
    width: 654px;
    height:86px;
    overflow: hidden;
    border: solid white 3pt;
    padding: 15px;
    -webkit-box-shadow: 0px -5px 19px -1px #000000;
    box-shadow:         0px -5px 19px -1px #000000;
}
.inner-cartridge-alt{
    border: solid black 3pt;
}
.magazine{
    width:2000px;
    /* display: flex; */
}

.round{
    float:left;
    cursor: pointer;
    width:76px;
    height:86px;
    background-size:cover;
    background-position: center center;
    -webkit-box-shadow: inset 0px 0px 0px 0px white;
    box-shadow: inset 0px 0px 0px 0px white;
    transition: box-shadow .25s;
    margin-right: 15px;
    display: inline-block;
}
.actv, .round:hover{
    -webkit-box-shadow: inset 0px 0px 0px 10px white;
    box-shadow: inset 0px 0px 0px 10px white;
    transition: box-shadow .25s;
}
.round img{
    opacity:0;
}

#slideControlHldr{
    width:100%;position:absolute;left:0;top:-48px;display:flex;justify-content:center;
}
#slideControl{
     color:white;
     padding:5px 10px;
     border-radius: 15px;
     border:solid 2px white;
     background:black;
     font-size:7pt;
     cursor:pointer;
     font-family: arial;
}
#slideControl:hover{
     color:black;
     background:white;
 }

.glowball{
    /* position: absolute;
    -webkit-box-shadow: 0px 0px 15px 5px #FFFFFF;
    box-shadow: 0px 0px 15px 5px #FFFFFF;
    width:7px;
    height:7px;
    border-radius: 3px;
    background:white; */
}
.auth-div{
    font-family: Harting_plain;
    color: red;
}

.auth-div span{
    font-size: 16pt;
}

a {
    color:white;
    text-decoration: none;
}
a:hover {
    color:red;
}
