body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: black;
}
body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  /* overflow: hidden; */
}

header {
  background: black;
}

main {
  background: black;
  position:relative;
}
main.main-about {
    background-color: black;
    background-image: url('images/cats01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    display: flex;
    justify-content: center;
}
.main-writes,.main-edits {
    display: flex;
    width:100%;
    background-color: black;
    background-position: right top;
    background-repeat: no-repeat;
}

footer {
  color: black;
  padding: 5px;
  text-align: center;
}
.footer-about {
  background: black;
  padding: 60px;
  text-align: center;
}

body {
  font-family: system-ui, sans-serif;
}

/* END 1-LINE-LAYOUT-CODE */

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.ttf');
}
.main-title{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    position:relative;
}
.main-title-frame,.main-title-frame-alt{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 46pt;
    width: 100%;
    background-color: black;
    -webkit-box-shadow: 0px 5px 19px -1px #000000;
    box-shadow: 0px 5px 19px -1px #000000;
    margin-top: 20px;
    margin-bottom: 25px;
    z-index: 1000;
}

.burgerMenu{
    display: none;
    border:solid white 2px;
    cursor: pointer;
    border-radius:2px;
    transform: translateX(-20px);
    padding: 0 10px;
}
.burgerMenu2{
    color: orange;
    display: none;
    border:solid orange 2px;
    cursor: pointer;
    border-radius:2px;
    padding: 0 10px;
    margin-left: 40px;
    font-size:26pt;
    position: absolute;
    top: 55px;
    right: 20px;
}

.main-menu{
    padding-top:10px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 17pt;
}
.main-menu a{
    margin: 0 10px;
}

.main-image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-frame{ /*--there are multiple 'main frames'--*/
    position: absolute;
    top:0;
    left:0;
    display: grid;
    place-items: center;
    /* transform: translateX(-50%); */
    width:100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 700px auto; */
    opacity:0;
    /* opacity:1; */

}
.main-frame-about{
    width:630px;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    place-items: center;
    padding: 20px;
}
.main-frame-about-text-2{
    text-align: center;
    font-size: 16pt;
    font-weight: 900;
    color:black;
    width:100%;
    padding: 20px;
    background-color: rgba(255,255,255,0.3);
    /* text-shadow: 1px 1px 2px black; */
}

.main-frame-about-3{
    width:630px;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
}
.main-frame-about-text-3{
    text-align: center;
    font-size: 16pt;
    color:white;
    width:100%;
    padding: 20px;
    text-shadow: 1px 1px 2px black;
}

.main-frame-about-4{
    width:630px;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: rgba(255,255,255,0.3);
}
.main-frame-about-text-4{
    text-align: center;
    font-size: 16pt;
    font-weight: 900;
    color:black;
    width:100%;
    padding: 20px;
}

.contactDiv-hldr{
    width:600px;
    margin: auto;
    background:url('images/contactBG.png');
    background-repeat:no-repeat;
    background-position:top center;
    display:flex;
    justify-content:center;
}
.contactDiv{
    margin-top:289px;
    width:100%;
    padding:20px;
    text-align:center;
    font-size: 16pt;
    color:white;
    text-shadow: 1px 1px 2px black;
}
.contactDiv input,.contactDiv textarea{
    padding: 10px;
}
.contactDiv textarea{
    height:150px;
}
.form-element{
    width:70%;padding:15px;font-size:14pt;outline:0;border:none;
    -webkit-box-shadow: 0px 4px 22px 2px rgba(0,0,0,0.56);
    box-shadow: 0px 4px 22px 2px rgba(0,0,0,0.56);
}
::placeholder {
font-family: 'Montserrat', sans-serif;
  color: #bbb;
  font-weight:bold;
  font-style:italic;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #bbb;
 font-weight:bold;
 font-style:italic;
 font-family: 'Montserrat', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #bbb;
 font-weight:bold;
 font-style:italic;
 font-family: 'Montserrat', sans-serif;
}
.main-frame img{
    /* opacity: 0; */
    height:100%;
}

.image-text-hldr{
    padding:40px;
    max-width:700px;
    height:100%;
    display: grid;
    place-items: center;
 }

.image-text,.image-text-wcs,.image-text-wrtgs{
    font-weight:lighter;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    opacity:1;
    height:auto;
    font-style: italic;
    color: white;
}
.image-text span,.image-text-wcs span{
    text-transform: capitalize;
    font-style: normal;
    display: block;
    text-align: center;
}


.image-text-wrtgs{
    font-style: normal;
}
.image-text-wrtgs h3{
    margin-top:50px;
    text-align:left;
    margin-bottom:5px;
}
.image-text-wcs{
    margin-bottom: 50px;
}

a,.mi {
    color:white;
    text-decoration: none;
    border-bottom: solid black 2px;
}
a.actv,a:hover,.mi:hover {

    border-bottom: dotted white 2px;
}

.main-menu a{
    font-weight: bold;
}

.scrollbar-track{
    background: black !important;
}
.scrollbar-thumb{
    background: #222 !important;

}

#scroll-hldr{
    width:100%;
    padding-top:40px;
    /* height:500px; */
    overflow-y: scroll;
    outline: none;
    position: absolute;
}
.scroll-content{
    width:700px;
    padding: 0 20px;
    margin:auto;
}

.image-text-wrtgs h3 a{
    color: orange;
}
.left-side{
    /* padding:50px 20px 20px 20px; */
    background:rgba(0,0,0,0.75);
    color:orange;
    /* position:absolute;
    top:0px;left:0; */
    /* width:auto;max-width: 300px;min-width:100px; */
    width:25%;
    /* height:90%; */
    /* overflow-y:scroll; */
    font-family:'Montserrat';
    font-size:26px;
    line-height: 1.5;
    position: relative;
}
.left-side a{
    margin-bottom: 10px;
    color: orange;
    padding-left: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.theModal,.theModal2{
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 1000;
    display: none;
}
.theModal2 a{
    color: orange;
}
.theModal2 a:hover{
    border-bottom: dotted 2px orange;
}

.theModalMenu{
    background: rgba(0, 0, 0, 0.75);
    padding:30px;
    width: 40vw;
    height: 100vh;
    -webkit-box-shadow: 5px 4px 29px 5px #000000;
    box-shadow: 5px 4px 29px 5px #000000;
    transform: translateX(-100%);
}
.theModalMenu a{
    display: block;
    font-size: 26pt;
    margin: 20px 5px;
}

.content-about{
    width:1139px;
    margin:auto;
    display: flex;
}

.cat-img-div{
    width:750px;
}
.cat-txt-div{
    width:389px;
    font-weight:bold;
    color:white;
    /* width:100%; */
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0,0,0,0.55);
    background-color: rgba(30,30,30,0.55);
    /* text-shadow: 1px 2px 2px black; */
    /* background-color: white;
    color:black; */
    font-style: normal;
}
.middle,.middle-edits{
    width:31%;
    background-color: rgba(0,0,0,0.75);
}
.middle-edits{
    width:41%;
    background-color: rgba(0,0,0,0.75);
}
.right-side{width:44%;}
.right-side-edits{width:54%;}
@media only screen and (max-width: 1330px) {

    .left-side a{display: none;}
    .burgerMenu2{
        display: inline-block;
    }
}

@media only screen and (max-width: 1120px) {
    .main-title-frame {
        font-size: 36pt;
    }
    .image-text-wcs, .image-text-wrtgs {
        font-size: 36pt;
    }
    .burgerMenu{
        display: inline-block;
    }
    .main-menu{
        display:none;
    }
    .content-about{
        width:100%;
        margin:auto;
        padding: 20px;
        display: block;
    }

    .cat-img-div{
        width:100%;
    }
    .cat-txt-div{
        padding: 0px;
        width:100%;
        font-weight:bold;
        color:white;
        /* width:100%; */
        background-color: rgba(0,0,0,0.55);
        text-shadow: 1px 2px 2px black;
    }
    /*----WRITES PAGE ----*/
    .left-side{
        width:60px;
        padding: 0 20px;
    }
    .middle{
        width:95%;
        padding-right:15px;
    }
    .main-writes{
        background-image: url('images/writesBG.png');
        background-size: 100% auto;
    }
    .right-side{width:0%;}
    /*----EDITS PAGE ----*/
    .left-side{
        width:60px;
        padding: 0 20px;
    }
    .middle-edits{
        width:100%;
        padding-right:15px;
    }
    .main-edits{
        background-image: url('images/masks.jpg');
        background-attachment: fixed;
        background-size: 100% auto;
    }
    .right-side-edits{width:0%;}
    /*----CONTACT PAGE ----*/
    .contactDiv-hldr{
        width:100%;
        background-size: 100% auto;
    }
    .contactDiv, .contactDiv input, .contactDiv textarea, .form-element{
        font-size: 36pt;
    }
    .contactDiv{
        margin-top:489px;
        font-size: 36pt;
    }
    .contactDiv textarea{
        height: 400px;
    }
}

.sortable{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.writetitle{
    width: 100%;
    color: white;
    font-size: 20pt;
    border: dashed orange 2px;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    background: black;
}
.codex-editor{
    background:gainsboro;
}
.writetitle input, .writetitle textarea{
    width: 95%;
    color: white;
    font-size: 20pt;
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 16px;
    background: #121111;
}
.writetitle textarea{
    font-size: 12pt;
}

.yelo-header-btn{
	height:35px;
	border-radius: 20px;
	line-height: 34px;
    background: linear-gradient(#FFBF00,#977409);
	color: #000;
	border:none;
	margin: 0 3px;
	font-weight:bold;
	font-size:16pt;
    padding-left:16px;
    padding-right:16px;
    cursor: pointer;
    border: solid black 1px;
    text-align: center;
    box-shadow:5px 5px 27px 13px rgba(0,0,0,0.74);
}
.yelo-header-btn-actv,.yelo-header-btn:hover{
    background: linear-gradient(#000,#000);
    border: solid orange 1px;
	color: orange;
	-webkit-box-shadow: 0px 9px 12px -6px rgba(0,0,0,0.56);
	box-shadow: 0px 9px 12px -6px rgba(0,0,0,0.56);
}

.blak-header-btn{
	height:35px;
	border-radius: 20px;
    background: linear-gradient(#000,#000);
	line-height: 34px;
	color: #ffbf00;
    width: 100%;
    outline: none;
    border-radius: 16px;
    padding: 16px;
	position: relative;
	font-size:16pt;
    padding-left:16px;
    padding-right:16px;
    border: dashed orange 1px;
    margin-bottom: 16px;
}
/* .blak-header-btn:hover{
    background: linear-gradient(#FFBF00,#b48a0a);
    border: solid black 1px;
	color: black;
	-webkit-box-shadow: 0px 9px 12px -6px rgba(0,0,0,0.56);
	box-shadow: 0px 9px 12px -6px rgba(0,0,0,0.56);
} */

.bi-trash{
    cursor: pointer;
    margin-left:10px;
}
.bi-trash:hover{
    color: red;
}

.publishBtn{
    position:fixed;
    right:0;
    top:300px;
    height:110px;
    padding-top:25px;
    text-align:center;
    overflow:hidden;
}

.drandle{
    background: linear-gradient(#FFBF00,#b48a0a);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width: 100px;
	color: rgba(0,0,0,0.3);
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    line-height: 1;
    display: grid;
    place-items:center;
    cursor: grab;
	-webkit-box-shadow: 0px 9px 12px -6px rgba(0,0,0,0.56);
	box-shadow: 0px 9px 12px -6px rgba(0,0,0,0.56);
}
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;
  font-size: 16pt;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

@media only screen and (max-width: 980px) {
    .main-title-frame {
        font-size: 31pt;
    }
    .image-text-wcs, .image-text-wrtgs {
        font-size: 31pt;
    }
}
@media only screen and (max-width: 875px) {
    .main-title-frame {
        font-size: 26pt;
    }
    .image-text-wcs, .image-text-wrtgs {
        font-size: 30pt;
    }
}
